/* Global CSS */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Jaini&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+Salt&family=Rowdies:wght@300;400;700&family=Smooch+Sans:wght@100..900&family=Tektur:wght@400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: 'Chakra Petch', sans-serif;
    background-color: #fff5d5;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    color: #545454f3;
    text-align: center;
}
.name{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-shadow: #00000054 2px 2px 2px;
}

/* Nav */
.nav{
    margin-bottom: 10px;
    background-color: #545454f3;
    height: 100%;
}
.nav-container .nav-content{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
.nav-links{
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    font-size: 1em;
}
a{
    text-decoration: none;
    color: white;
}

/* Sections */
.sections{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    color: #545454f3;
    text-align: center;
}

/* Footer */
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fffffff3;
    text-align: center;
    margin: 50px;
    margin-bottom: 0px;
    background-color: rgb(58, 60, 60);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}
.footer_content{
    margin: 15px;
}

